:root{
  --polynesian-blue:#054A91;
  --tiffany-blue:#9DD9D2;
  --floral-white:#FFF8F0;

}


* {
  padding:0px;
  margin:0px;

}
body{
  background-color:var(--floral-white);


}


header{
  display:flex;
  align-content:center;
  background-color:var(--polynesian-blue);
  width:100vw;
  height:80px;
  overflow:hidden;
}
h1{
  padding:10px;


}
main{
  display:flex;

}




.list{
  background-color:blue;

} 

.creation{
  background-color:yellow;

}



footer{
  left:0px;
  right:0px;
  width:100vw;
  height:30px;
  background-color:black;
  color:var(--floral-white);
  


}
footer > p > a {}
